@import 'var';

:host ::ng-deep {
    td-data-table {
        border: 1px solid black !important;

    }

    .td-data-table-head {
        background-color: $comfort-eye;

        .td-data-table-column {
            font-size: 14px !important;
        }
    }
}